span {
  margin: 10px;
  padding: 12px;
  display: block;
  height: 47px;
  width: 43px;
  border: 2px solid black;
  border-radius: 7px;
  color: white;
  font-weight: 600;
}
.word-container {
  margin: 1rem;
  display: flex;
  justify-content: center;
}
.result {
  margin: 1rem;
  font-weight: 600;
}
